body {
  background: pink;
  font-family: "Open Sans", sans-serif;
  margin-top: 2px;
  margin-left:1px;
  margin-right:1px;
  margin-bottom:1px;
  }

.titulo {
  text-align: center;
  padding: 20px;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  }

  h3{
    margin: 20px;
    margin-bottom: 27px;
    margin-top:10x;
    margin-left:25px;
  }

.subt {
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  }

.creadores{
  text-align: center;
  font-size: 15px;
  }


.texto {
  margin: 50px;
  padding: 2px;
  box-shadow: 5px 5px 5px 5px ;
  }

hr {
  color: black;
  background-color: black;
  height: 2px;
  }

.envioNP{
  background-color: rgb(252, 151, 168);
  color: black;
  border: 1px solid rgb(236, 53, 83);
  text-decoration: underline;
  cursor: pointer;
}

form {
  text-align: center;
}
p{
  margin: 20px;
}

h2{
  text-align: left;
  padding: 20px;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

.navegador{
  background-color: rgb(244, 95, 120);
  height: 60px;
  display: right;
  height: 47px;
}
 
  ul{
    float: right;
    list-style-type: none;
    align-items: center;
    font-size: 17px;
    margin-top: 10px;
    }


    li{
    display: inline;
    margin: 3px;
    font-size: 15px;
    }
   
    button {
      font-size: 16px;
      height: 25px;
      float: center;
      background-color: #fe899c;
      color: black;
      border: 1px solid rgb(250, 133, 150);
      border-radius: 5px;
      list-style-type: none;
      text-decoration: underline;
      cursor: pointer;
    }
 

    label {
      color: black;
	  	display: inline-block;
	  	width: 25%;
	  	text-align: center;
	  	margin: 10px
	}

  .user{
    margin-left:0px;;
  }

  textarea{
    background-color:white;
  }

  input{
    width: 55%; 
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.ver
{
  color:black;
  padding:10px;
  border-radius: 5px;
  width:  90px;
  text-align:center;
}